.App {
    background: #F2F4F5;
}

.rounded-button {
    border-radius: 30px !important;
    padding: 7px 50px !important;
}

.text-faded {
    color: #00000054;
}

.text-lighter {
    color: #fffffff9;
}

.flex-grow-7 {
    flex-grow: 7;
}

.inline-text {
    white-space: nowrap;
}

.bg-carousel {
    background: #67A3EB;
    border-radius: 10px;
}

.bg-transparent {
    background: #00000000;
}

.carousel-img {
    width: 100%;
}

@media (min-width: 768px) {
    .carousel-img {
        width: 240px;
        height: 240px;
        object-fit: cover;
    }
}

.text-dropdown {
    color: #fffffff9 !important;
}

.text-dropdown:hover {
    color: black !important;
}
/* //Sothearath */
.iconView{
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.list-card{
    padding: 0px;
    height: 90px;
    margin-bottom: 10px;
}
.list-card:hover{
    background: #67A3EB;
}

.toastheader{
    height: 30px;
    background: #67A3EB;
    color: white;
    text-align: center;
}
.toastbody{
    text-align: center;
    
}
.toastbody:hover{
    background: #D4E6FC;
}
.footer{
    background: #373A3C;
    color: white;
}
