.card-img-wrapper{
    border: none;
    border-radius: 5px 5px 0 0;
    overflow:hidden;

    img {
        height: 180px;
        object-fit: cover;
    }
}

.card-white {
    background: #FFFFFF;
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.3);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s;
}

.card-white:hover {
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.45);
}

.card-red {
    color: #000;
    background: linear-gradient(-45deg, #ff0031, #fe837c);
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.3);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s;
}

.card-red:hover {
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.45);
}

.card-yellow {
    color: #000;
    background: linear-gradient(-45deg, #FF9900, #FFCC00);
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.3);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s;
}

.card-yellow:hover {
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.45);
}

.card-blue {
    color: #000;
    background: linear-gradient(-45deg, #0072FF, #00C6FF);
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.3);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s;
}

.card-blue:hover {
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.45);
}

.card-green {
    color: #000;
    background: linear-gradient(-45deg, #009900, #CCFF33);
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.3);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s;
}

.card-green:hover {
    box-shadow: 2px 6px 8px 0 rgba(23,42,65,0.45);
}