div.DraftEditor-root {
  margin-top: 10px;
  padding: 7px 16px;
  border: 1px solid #DDDDDD;
  background-color: #fff;
  border-radius: 5px;
  height: 300px;
  width: 100%;
  overflow-y: auto;
}
div.DraftEditor-editorContainer, div.public-DraftEditor-content {
  height: 100%;
}

icon.RichEditor-activeButton {
  color: #1CACF4;
}