.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -26px; /* gutter size offset */
    width: auto;
  }

@media (max-width: 800px) {
    .my-masonry-grid {
        margin-left: -13px; /* gutter size offset */
    }
    .my-masonry-grid_column {
        padding-left: 13px; /* gutter size offset */
    }
}

.my-masonry-grid_column {
    padding-left: 26px; /* gutter size */
    background-clip: padding-box;
}