@import "./cards";
@import "./masonry";
@import "./text";
@import "./trending";
@import "./editor";

/* import only the Bootstrap files needed for customizations */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* make the customizations */
$theme-colors: (
  "primary": #1CACF4
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.layout {
  min-height: 100vh;
}


.bg {
  background: #F2F4F5;
}

.bg-gradient {
  background-image: linear-gradient(-45deg, #56CCF2, #2F80ED);
}

.img-detail {
  max-width: 80vh;
}

@media (min-width: 768px) { 
  .b-left {
    border-left: 1px solid #bcc8cf;
  }
}